<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    {% if response_content %}
        <p>{{ response_content }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required><br><br>
        <label for="re_new_password">Re-enter New Password:</label>
        <input type="password" id="re_new_password" name="re_new_password" required><br><br>
        <input type="submit" value="Reset Password">
    </form>
</body>
</html>